{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="text-center my-5">
        <h1>Contact</h1>
        <p class="lead">
            Have questions or feedback? Reach out to me!
        </p>
        <div class="mt-4 contact-icons">
            <div class="d-flex justify-content-center">
                <a href="mailto:nikhil.sfw@gmail.com" class="text-decoration-none text-center mx-3">
                    <i class="fas fa-envelope fa-2x"></i> <!-- Gmail icon -->
                    <div>Email</div>
                </a>
                <a href="https://www.linkedin.com/in/nikhil-kotra" class="text-decoration-none text-center mx-3">
                    <i class="fab fa-linkedin fa-2x"></i> <!-- LinkedIn icon -->
                    <div>LinkedIn</div>
                </a>
                <a href="https://github.com/nikhil-1e9" class="text-decoration-none text-center mx-3">
                    <i class="fab fa-github fa-2x"></i> <!-- GitHub icon -->
                    <div>GitHub</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}