{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="text-center my-5">
        <h1>Welcome to Machine Learning Daily!</h1>
        
        <!-- <img src="{% static 'quiz/images/ml_ai_image.png' %}" alt="ML and AI" class="img-fluid my-4" style="max-width: 100%; height: auto;"> -->
        <img src="{% static 'quiz/images/ml_ai_image.png' %}" alt="ML and AI" class="img-fluid my-4" width="550" height="500">
        <p class="lead">
            Learning should be fun, right? Welcome to Machine Learning Daily, 
            where you can explore ML concepts in an engaging way! <br><br>

            Test your ML and Data Science knowledge with short, interactive quizzes 
            and sharpen your understanding. <br><br>

            Stuck on a question? We've got you 
            covered with hand-picked resources to strengthen your concepts. <br><br>

            Whether you're just starting or refining your skills, 
            this is the perfect place to learn, practice, and grow. <br><br>

            Start learning, keep improving, and make ML fun! 🚀
        </p>

        <a href="{% url 'quiz_page' %}" class="btn btn-primary btn-lg">Start Quiz</a>
    </div>
</div>
{% endblock %}